<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Create a new article</title>
</head>
<body>
  <div class="topnav">
    <h1>Create a new off the rails article</h1>
  </div>
  <div class = "centeredit">
    <%= render 'form' %>
  </div>
  <div class = "newLink">
    <%= link_to 'Back', articles_path %>
    <div class = "my-article-bg">
    </div>
  </div>
</body>
</html>
