<div class="my-containe"r>
  <div class="topnav">
    <h1>Your off the rails!</h1>
    <div class="my-container2">
      <div class="blog-button">
        <%= link_to 'Continue to blog', controller: 'articles' %>
      </div>
      <div class = "my-containerimg">
      </div>
    </div>
  </div>
</div>
