// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@font-face {
  font-family: 'goodFont';
  src: url('/assets/KOMIKAHN.ttf');
}

h1 {
  font-family: 'goodFont';
  font-size: 80px;
  margin: 0px;
  color: #edf2f4;
  min-width: 600px;
  padding: 0px;
}
.topnav {
  background-color: #d90429;
  text-align: center;
  width: 100%;
  height: 100px;
  vertical-align: middle;
  margin: 0px;
}
