.centeredit {
  margin-left: 40%;
  margin-right: 50%;
  width: 200px;
  align-content: center;
}

textarea {
  min-width: 270px;
  min-height: 60px;
}

.newLink {
  margin-left: 40%;
  margin-right: 50%;
  width: 200px;
  padding-top: 10px;
  color: rgb(7, 70, 204);
  font-family: 'goodFont';
}
