// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@font-face {
  font-family: 'goodFont';
  src: url('/assets/KOMIKAHN.ttf');
  opacity: 100%;
}

h1 {
  font-family: 'goodFont';
  font-size: 80px;
  margin: 0px;
  color: #edf2f4;
  min-width: 1000px;
  padding: 0px;
}
.topnav {
  background-color: #d90429;
  text-align: center;
  width: 100%;
  height: 100px;
  vertical-align: middle;
  margin: 0px;
}

.my-container {
  position: relative;
  overflow: hidden;
  color: #edf2f4;
}
.my-container2 {
  padding: 200px;
  position: relative;
  z-index: 2;
  color: #edf2f4;
}
.my-containerimg {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: auto;
  min-height: 700px;
  background-image: url('8195974.png');
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
  color: #edf2f4;
}

.blog-button {
  background-color: #d90429;
  opacity: 100%;
  color: #edf2f4;
  width: 180px;
  padding: 18px;
  margin: auto;
  border-radius: 2px;
  font-family: 'goodFont';
  font-size: 25px;
}
